@import url("https://fonts.googleapis.com/css?family=Special+Elite");



/**********
   fonts
**********/
@font-face{
	font-family: 'Impact_Label';
	src: url('Impact_Label-webfont.woff');
  font-weight: bold;
}

@font-face{
	font-family: 'Impact_Label_Reversed';
	src: url('Impact_Label_Reversed-webfont.woff');
}



/*********************
  main page headers
*********************/
.head-text-1 {
	font-family: "Impact_Label";
  margin: 0 0 0 30px;
  font-size: 5vw;
  color: #669999;
}

.subhead-text-1 {
  font-family: "Special Elite", cursive;
  color: black;
  font-size: 2vw;
  margin: 5px;
  padding: 5px 0 0 20vw;
}

/*.head-text-2 {
  font-family: "Impact_Label";

  font-size: 70px;
  color: #4F5253;
}

.subhead-text-2 {
  font-family: "Special Elite", cursive;
  color: white;
  font-size: 30px;
  padding: 5px 0 0 0;
}*/



/************************
   carousel/main image
************************/
.carousel.carousel-slider {
	border-bottom: 6px solid black;
}


/**********
  navbar
**********/
nav {
	position: fixed;
	background-color: transparent;
	box-shadow: 0 0 0;
}

.nav-wrapper li a {
  font-family: "Impact_Label";
  color: black;
  font-size: 24px;
}

.side-nav li a {
  color: black;
}

.button-collapse {
    color: black;
}




/************************
  each section heading
************************/
.title {
	text-align: center;
	font-family: "Impact_Label";
	color: black;
	font-size: 36px;
	padding-top: 80px;
}




/*****************************************
  text/content under each section heading
*****************************************/
.content {
	font-family: "Special Elite", cursive;
	font-size: 20px;
}

.contact-box {
	margin-bottom: 20px;
}

.fa {
	padding: 15px;
}

/*********
  cards
*********/

.activator {
	box-shadow: 2px 2px 2px grey;
}

.card-title {
	font-family: "Special Elite", cursive;
}

.card-header {
	font-family: "Special Elite", cursive;
	font-size: 22px;
	padding: 3px;
}

.site-link, .git-link {
	padding-left: 15px;
}

.card-image img {
	padding: 3%;
	height: 100%;
}

.card-links {
	font-size: 18px;
}

/**********
  footer
**********/
.page-footer {
	background-color: #669999;
}
