@import url("https://fonts.googleapis.com/css?family=Special+Elite");

@font-face{
	font-family: 'Impact_Label';
	src: url('Impact_Label-webfont.woff');
  font-weight: bold;
}

@font-face{
	font-family: 'Impact_Label_Reversed';
	src: url('Impact_Label_Reversed-webfont.woff');
}

.headers {
  background-size: cover;
}

.head-text-1 {
  font-family: "Impact_Label";
  margin: 0 0 0 30px;
  font-size: 70px;
  color: #669999;
}

.subhead-text-1 {
  font-family: "Special Elite", cursive;
  color: black;
  font-size: 30px;
  margin: 5px;
  padding: 5px 0 0 180px;
}

.carousel.carousel-slider {
	border-bottom: 6px solid black;
}

/*.head-text-2 {
  font-family: "Impact_Label";

  font-size: 70px;
  color: #4F5253;
}

.subhead-text-2 {
  font-family: "Special Elite", cursive;
  color: white;
  font-size: 30px;
  padding: 5px 0 0 0;
}*/

nav {
	position: fixed;
	background-color: transparent;
	box-shadow: 0 0 0;
}

.nav-wrapper li a {
  font-family: "Impact_Label";
  color: black;
  font-size: 24px;
}

.side-nav li a {
  color: black;
}

.button-collapse {
    color: black;
}

.title {
	text-align: center;
	font-family: "Impact_Label";
	color: black;
	font-size: 36px;
	padding-top: 80px;
}

.site-link, .git-link {
	padding-left: 15px;
}
