@import url("https://fonts.googleapis.com/css?family=Special+Elite");

@font-face{
	font-family: 'Impact_Label';
	src: url('Impact_Label-webfont.woff');
  font-weight: bold;
}

@font-face{
	font-family: 'Impact_Label_Reversed';
	src: url('Impact_Label_Reversed-webfont.woff');
}

.head-text-1 {
  font-family: "Impact_Label";
  padding-top: 40px;
  font-size: 70px;
  color: #669999;
}

.subhead-text-1 {
  font-family: "Special Elite", cursive;
  color: black;
  font-size: 30px;
  padding: 5px 0 0 180px;
}

.head-text-2 {
  font-family: "Impact_Label";
  padding-top: 40px;
  font-size: 70px;
  color: #4F5253;
}

.subhead-text-2 {
  font-family: "Special Elite", cursive;
  color: white;
  font-size: 30px;
  padding: 5px 0 0 180px;
}

.nav-wrapper li a {
  font-family: "Impact_Label";
  color: black;
  font-size: 20px;
}
